.App {
  background-color: #1E1E1E;
  width: 100%;
  background-position: center;
  height: 100vh;
  background-repeat: no-repeat;
  background-image: url('./images/background-logo.png');
}

*{
  text-decoration: none;
}

h1{
  text-align: center;
  color: white;
}

.sidebar-container{
  width: 64px;
  height: 100vh;
  background-color: #333333;
}

.app-container{
  display: inline-flex;
  width: 100%;
}

.menu-icon-cont{
  display: inline-block;
  justify-content: center;
  border-width: 2px;
  padding: 1rem 0.7rem;
  border-left: solid #333333;
  border-width: 1px;

}
.menu-icon{
  width: 30px;
}

.icon-subs{
  color: #767676;
  margin: 0;
  font-size: 12px;
  text-align: center;
  margin-top: -16px;
}

.active{
  color: red;
  p{
    color: white;
    transition: all 0.5s;
  }
  div{
    border-left: solid #ffffff;
    border-width: 1px;
    transition: all 0.5s;
  }
  path{
    fill: white;
    transition: all 0.5s;
  }
}

